    <div class="post-header">
      <p class="p-post-header">
        <a href="/">
           Home 
        </a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="/our-athletes">
           Athletes 
        </a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="" style="text-decoration:underline;">
           {{ath_name}}
        </a>
      </p>
    </div>
    <div class="full-post-container">
    <article class="post-full">
      <img class="full-ath-pic" src="/images/athletes/{{pic_title}}.jpg" />
      <div class="title">
        <span>
            <h1 class="h1-post-full">{{ath_name}}</h1>
        </span>
      </div>
      <div class = "content">
          <p class="p-post-full">{{ath_desc}}</p>
      </div>
      <p2 class="p2-tags-full">{{ath_info}}</p2>
      <div>
        <a href="/our-athletes">
            <button class="btn-post">Return to Athletes</button>
        </a>
      </div>
    </article>
    </div>