    <div class="post-container">
      <article class="post">
        <div class="title">
          <span>
              <h1 class="h1-post">{{title}}</h1>
          </span>
          <span class="details"><p class="p2-post">By {{user.username}} on {{format_date created_at}}</p></span><br>
        </div>
        <div class = "content">
            <p class="p-post">{{post_desc}}</p>
        </div>
        <a href="/post/{{id}}">
        <h2 class="h2-post">READ MORE...</h2>
        </a>
      </article>
    </div>