<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/2f4fc7a16c.js" crossorigin="anonymous"></script>
    <title>Next Episode Sports Agency</title>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-top">
                <div class="socials">
                    <i class="fa-brands fa-instagram fa-1x"></i>
                    <i class="fa-brands fa-twitter fa-1x"></i>
                    <i class="fa-brands fa-facebook-square fa-1x"></i>
                </div>
            </div>
            <nav class="header-btm">
                    <div class="logo-header">
                        <a href="/"><img src="/images/web-images/logo-header.png" alt="Next Episode SA Logo"></a>
                        <div class="logo-bg"></div>
                    </div>
                <ul class="nav-links">
                    <li><a href="/"><span>Home</span></a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/our-athletes">Our Athletes</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <main>
            {{{ body }}}
        </main>
        <div class="footer">
            <div class="footer-container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="/"><img src="/images/web-images/logo.png" alt="Next Episode SA Logo"></a>
                        </div>
                        <br>
                        <p class="p-footer">
                            Next Episode Sports Agency, LLC is a full service sports management group located in South Florida.
                        </p>
                        <p class="p-footer">
                            We specialize in the representation of athletes and handle their legal, contractual, tax, financial planning and marketing needs.
                        </p>
                        <a href="/about-us">READ MORE</a>
                    </div>
                    <div class="col-sm-3">
                        <h1 class="h1-footer">Stay Updated</h1>
                        <a href="/post/{{posts.[0].id}}">
                            <p class="p-info">
                                {{posts.[0].title}}
                            </p>
                            <p class="p-info2">
                                {{format_date posts.[0].created_at}}
                            </p>
                        </a>
                        <a href="/post/{{posts.[1].id}}">
                            <p class="p-info">
                                {{posts.[1].title}}
                            </p>
                            <p class="p-info2">
                                {{format_date posts.[1].created_at}}
                            </p>
                        </a>
                        <a href="/post/{{posts.[2].id}}">
                            <p class="p-info">
                                {{posts.[2].title}}
                            </p>
                            <p class="p-info2">
                                {{format_date posts.[2].created_at}}
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <h1 class="h1-footer">Contact Us</h1>
                        <p class="p-footer">12345 Address Here Suite 123</p>
                        <p class="p-footer">Miami, FL 33333</p>
                        <a href="" style="opacity: 0.4;">GET DIRECTIONS</a>
                        <p class="top-p">Telephone: <a href="tel:3058524833" class="p-a">305-852-4833</a></p>
                        <p class="p-footer">Email: <a class="p-a">info@youremail.com</a></p>
                        <p class="p-footer">Facebook: <a href="" class="p-a">Next Episode</a></p>
                    </div>
                    <div class="col-sm-3">
                        <div class="iframe">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20659.805164825782!2d-80.28157967631553!3d25.86993757479951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ba7c1f7c1205%3A0x6687d4f7a4430f0e!2sMilander%20Park!5e0!3m2!1sen!2sus!4v1658607616568!5m2!1sen!2sus" width="auto" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-btm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <p class="p-footer" style="margin-top: 15px;">© 2022 Next Episode Sports LLC. All rights reserved. Web Design by Eric Jr.</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-center">
                            <div class="socials" style="margin-top: 15px;">
                                <i class="fa-brands fa-instagram fa-1x"></i>
                                <i class="fa-brands fa-twitter fa-1x"></i>
                                <i class="fa-brands fa-facebook-square fa-1x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script src="/javascript/app.js"></script>
    <script>
  AOS.init();
</script>
</body>
</html>